<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Belly Button Biodiversity</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      <script src="https://d3js.org/d3-color.v1.min.js"></script>
      <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
      <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
      <script src="http://colorbrewer2.org/export/colorbrewer.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">-->
    <link rel="stylesheet" type="text/css" href="../static/style/construct.css">
</head>
<body>
    <div class="MainGrid" id="Main">
        <!--<script src="{{ url_for('static', filename='js/app.js') }}"></script>-->
        <script src="../static/js/app.js" type="text/javascript" async="async"></script>
        <div class="head" id="header"><h1 class="heading">Belly Button Biodiversity<br>Dashboard</h1></div>
        <div class="sideBar" id="controlPanel">
            <div class="text1"><p class="p_choose"><b>Choose</b><br><b>Sample</b></p></div>
            <div class="selection">
            </div>
            <div class="text2"><p class="p_meta"><b>Sample Meta-Data</b></p></div>
            <div id="meta">
                <ul id="meta_list">
                </ul>
            </div>
        </div>
        <div class="nullBottom"></div>
    </div>
</body>
</html>
